#style {
    background-color: #584B53;
}

button,
div,
form,
input {
  margin: 10px;
}

.button-style {
    border-color: #D6E3F8;
    color: #9D5C63;
}

#nav-text {
    color: #E4BB97;
}

p {
    color: #9D5C63;
    font-weight: bold;
    text-align: center;
}